@media only screen and (max-width : 479px) {   
    
#main-header h1 {
    font-size: 21px;
}
.img-head h3 {
    font-size: 14px !important;
}
.img-head a {
    font-size: 15px;
    width: 100px;
}
.sec01 .kc_text_block h5 {
    background-position: -88px center, 323px center;
}
.sec01 .kc_text_block h5 {
    font-size: 16px;
}
.sec01 .kc_text_block p {
    font-size: 14px;
}

.box01 .kc_single_image {
    float: none;
    margin-right: 0;
    text-align: center !important;
}

.box02 .kc_text_block {
    margin-left: 0px;
}
.box02 p {
    padding-right: 0;
    width: 83%;
}
.box02 h4 {
    padding-left: 20px;
    padding-right: 29px;
    font-size:23px;
}
.sec02 {
    margin-top: 0;
}
.sec02 h4.kc_title {
    color: #0057a7;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#sec04 {
    margin: 0;
}
#sec04 h2.kc_title {
    font-size: 23px;
}
#sec04 .com-box .heading h4 {
    font-size: 20px;
}
#sec04 .com-box .content {
    padding: 15px 5px 30px;
}
#sec04 .com-box {
    margin: 0 15px 30px 16px;
}

#sec05 {
    margin: 0;
}
#sec05 .kc_column_inner {
    padding-left: 0;
    padding-right: 0;
}
#sec05 h1 {
    font-size: 27px !important;
    line-height: 40px;
}

#sec05 h3 {
    font-size: 18px !important;
    margin-bottom: 17px !important;
    margin-top: 16px !important;
    padding-left: 0px !important;
    padding-right: 15px;
}

#sec05 p {
    margin-left: 0 !important;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
}
#sec05 h5 {
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

#sec05 img {
    margin-bottom: 25px;
    margin-left: 0;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.pricing-box {
    margin-left: 15px !important;
    width: 91% !important;
}
#questions h5 {
    font-size: 21px;
}
.w-l {
    width: 100%;
}
.w-2 {
    margin-left: 0;
    width: 100%;
}

#sec06 {
    margin-bottom: 0;
}

#sec06 p.title {
    font-size: 14px;
}

#sec06 h4 {
    font-size: 14px !important;
}

#sec06 h4 {
    font-size: 17px;
}
.foot-l {
    font-size: 9px;
}

.chi_display_header {
    height: 101px !important;
}
.common-inner2 .entry-title {
    margin-left: -9px !important;
    margin-top: 0;
    font-size:25px;
}
.sec03 h3 {
    font-size: 16px !important;
    margin-top: 0 !important;
    padding-left: 16px;
    padding-right: 18px;
}
div.wpcf7 {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    padding-bottom:10px;
}

.foot-l {
    font-size: 9px;
    padding-left: 10px;
    width: 60%;
}
.foot-r {
    padding-right: 10px;
    width: 40%;
}

#main-header {
    min-height: 121px !important;

}    

.tmm .tmm_2_columns .tmm_member {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}    
.tmm .tmm_names {
    text-align: center;
}    
.tmm .tmm_job {
    text-align: center;
}    
.tmm .tmm_desc {
    text-align: justify !important;
}
.m-l h3 {
    font-size: 17px !important;
}

.blog_template.bdp_blog_template.timeline .desc a h3 {
    font-size: 11px !important;
}
.date_wrap {
    font-size: 14px !important;
    padding-bottom: 5px;
}
.post_content p {
    font-size: 12px;
}
.page-id-15 .timeline.blog-wrap:nth-child(2n+1) .datetime {
    left: 166px;
}
.entry-header.bl-header h1{
    font-size: 25px;
}
.comments-title {
    font-family: oswald !important;
    font-size: 19px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.blog_template.bdp_blog_template.timeline .read_more {
    font-size: 10px !important;
}
.submit {
    font-size: 11px !important;
}
.alignleft {
    margin: 0.375em 6.75em 1.75em 0;
}

#sec04 h1 {
    font-size: 50px;
}
#inner-header h1 {
    font-size: 27px !important;
}

#why-margin h4 {
    font-size: 18px !important;
    margin-bottom: 0px !important;
}

#inner-header h3 {
    font-size: 15px !important;
}

.question-left {
    padding-right: 0px;
}

#post-111 #service-sec4 h1 {
    font-family: "rockwell",sans-serif !important;
    font-size: 30px;
}


#post-113 #inner-header h1 {
    font-size: 20px !important;
}

#post-113 .service-page h1 {
    font-size: 23px;
}

#post-113 .service-page h5 {
    font-size: 16px;
}


#post-113 #sec04 h1 {
    font-size: 35px;
}


#post-113 #grow-brand .content{
    margin-top: 20px !important;
}

#post-113 #grow-brand.kc_text_block h1 {
    font-size: 35px;
}

#post-113 #service-sec4 h1 {
    font-size: 33px;
}

#why-margin {
    margin-top: 30px;
}


#post-113 #service-sec4 h4 {
    font-size: 15px ;
}

#sec04 .com-box .heading h4 {
    height: 45px;
}


#post-589 #service-sec4 p {
     margin-top:20px !important;
}
#post-589 #sec04 h1 {
    font-size: 30px;
}

#post-589 #service-sec4 h1 {
    font-size: 33px;
}


#post-600 #sec04 .com-box {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 100%;
}

#post-600 #sec04 .com-box {
    padding-left: 0px !important;
    padding-right: 4px !important;
    width: 90% !important;
}

#post-600 #inner-header {
    min-height: 370px;
}

#post-607 #inner-header h3 {
    font-size: 15px !important;
}

#post-607 #service-sec4 h1 {
    font-size: 30px;
    margin-top: 30px;
    text-align: left !important;
}
#post-607 #service-sec4 h4 {
    text-align: left !important;
    width: 100%;
}
#post-607 #service-sec4 p {
     margin-top:10px !important;
}

#sec02 h1.kc_title {
    font-size: 35px;
}
#sec03 h1 {
    font-size: 25px;
    line-height: 30px;
}
#sec03 h5 {
    font-size: 17px;
}
#sec04 h1 {
    font-size: 30px;
}
#home-last h1 {
    font-size: 25px;
}
.sec02-divider {
    width: 83px !important;
}

.service-page h1 {
    font-size: 22px;
}
.service-page h5 {
    font-size: 16px;
}
.premium-contact h1 {
    font-size: 25px;
}
#service-sec4 h1 {
    font-size: 30px;
}

.page-id-568 #sec04 .com-box .content {
    min-height: auto!important;
}
.why-width {
    width: 100% !important;
}
.sec03-res-left ul {
    padding-right: 15px;
}
.post-thumbnail {
    margin-left: 10px;
}
.entry-header.bl-header {
    padding-left: 10px;
}

.single .byline, .group-blog .byline {
    display: inline;
    margin: -14px;
}

.page-id-11 .m-l{ text-align:left}

.kc_text_block {
    text-align: left;
}

#post-600 #sec04 .com-box .heading h4 {
    
    height: 100%;
}

#grow-brand img {
    
    height: auto;
    width: auto;
}

.page-id-11 #inner-header {
    height: 101px;
    min-height: 101px;
}

    .hidden-phone{ display:none !important; visibility:hidden}
    .visible-phone{display:block !important; visibility: visible}

}