@media only screen and (max-width :767px) {
    
#main-header h1 {
    font-size: 30px;
    margin: 67px 0;
}

.img-head h3 {
    font-size: 17px !important;
}
.sec01 h3.kc_title {
    font-size: 30px;
}
.sec01 .kc_text_block h5 {
    font-size: 17px;
}
.sec01 .kc_text_block h5 {
    background-position: -19px center, 374px center;
}

.box01 .kc_single_image {
    float: none;
    margin-right: 0;
    text-align: center !important;
}

.box02 .kc_text_block {
    margin-left: 27px;
}
.box02 p {
    width: 81%;
}
.divider-blue {
    display: none;
}

#sec04 {
    margin: 0;
}
#sec04 h2.kc_title {
    font-size: 30px;
}

#sec04 .com-box {
    width: 90% !important;
}

#sec04 .com-box .content {
    min-height: auto !important;
    width: 100%;
}

#sec04 .com-box .heading h4 {
    font-size: 19px !important;
}

#sec04 .com-box {
    margin: 0 9px 30px 25px;
}

#sec05 {
    margin: 0 0 0px;
}
#sec06 h3 {
    padding-bottom: 10px;
}
#sec06 {
    margin-bottom: 0;
}

.left-content {
    width: 100% !important;
     padding-right: 0;
}
.center-img {
    text-align: center;
    width: 100% !important;
}
.center-img img {
    height: auto;
    max-width: 267px;
    vertical-align: middle;
}
.center-img .kc_shortcode.kc_single_image {
    text-align: center !important;
}

.foot-l {
    font-size: 13px;
    padding-left: 10px;
}
.foot-r {
    padding-right: 10px;
}

.chi_display_header {
    height: 131px !important;
}
.common-inner2 .entry-title {
    margin-left: -22px !important;
}
.sec03 h3 {
    margin-top: 0 !important;
    padding-bottom: 10px;
}
.m-l h3 {
    font-size: 18px !important;
}
.entry-title {
    font-size: 35px;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n+1) {
    clear: right;
    float: right;
    padding-left: 50px;
    padding-right: 30px;
    margin-top: 0px;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n) {
    margin-top: 0px;
}

.post_hentry::before{
    left: -68px;
    right:0;
    }
.page-id-15 .timeline.blog-wrap:nth-child(2n+1) .datetime {
    left:309px;
}   

.page-id-15 .blog_template.bdp_blog_template.timeline.blog-wrap:nth-child(2n+1) .post_content_wrap::before, .blog_template.bdp_blog_template.timeline.blog-wrap:nth-child(2n+1) .post_content_wrap::after {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-left-width: 0 !important;
    border-right-color: #ff9247;
    border-right-style: solid;
    border-right-width: 8px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: dashed;
    border-top-width: 8px;
    content: "";
    left: -8px !important;
    position: absolute;
    right: inherit;
    top: 13px
}

.timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n) {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.timeline_bg_wrap .timeline_back .timeline.blog-wrap:nth-child(2n+1) {
    padding-top: 50px !important;
}
.blog .content-area {
    width: 100%;
}
.blog .sidebar {
    float: left;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: px !important;
    padding-left: 15px;
    padding-right:15px;
    width: 100%;
}
.comments-area {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 15px;
    padding-right:15px;
}
.post-navigation {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 15px;
    padding-right:15px;
}
.entry-header.bl-header {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 15px;
    padding-right:15px;
}
.bl {
    margin-left: 10px !important;
    width: 98% !important;
}

.pricing-box {
    margin-bottom: 15px;
    margin-left: 45px !important;
    width: 80% !important;
}

.w-2 {
    margin-left: 17px;
    width: 48%;
}


.sec-3-inn-right img {
    margin-left: 0px;
}
.right-arrow {
    display: none;
}

.sec-3-inn .content img {
    width: 100%;
}
#sec05 h1 {
    font-size: 35px;
    background-image:none;
}

#home-last h1 {
    font-size: 40px;
}

#post-111 #inner-header h1 {
    font-size: 35px;
}

#post-111 #inner-header h3 {
    font-size: 14px !important;
}

#inner-header a {
    font-size: 20px;
    width: 100px;
}

#post-111 #sec04 .com-box {
    width: 90% !important;
}
#post-111 #sec04 .com-box .content {
    min-height: auto !important;
}

#service-sec4 .com-box .content {
    margin-bottom: 15px;
    min-height: auto;
}

.premium-contact h1 {
    font-size: 38px;
}

.premium-contact .w-2 {
    margin-left: 0px;
}

#post-113 #inner-header h1 {
    font-size: 30px;
}

#post-113 #service-sec4 h1 {
    text-align: left !important;
}

#post-113 #service-sec4 h4 {
    text-align: left !important;
    width: 100%;
    }
#post-113 #service-sec4.content p {
     margin-top:20px !important;
}

.m-l ul {
    margin-top: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


#post-568 #inner-header h3 {
    font-size: 15px !important;
}

#post-568 #service-sec4 h1 {
    font-size: 35px;
}

#post-568 #service-sec4 p {
     margin-top:20px !important;
}

#post-568 #inner-header h1 {
    font-size: 30px;
}

#post-589 #inner-header h1 {
    font-size: 30px;
}

#sec02 {
    height: auto;
}



.question-left {
    padding-right: 0px;
}

.page-id-589 #sec04 .com-box .content {
    min-height: auto;
}
.tmm .tmm_2_columns .tmm_member {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.page-id-607 #why-margin .com-box .content {
    min-height: auto;
}

.page-id-600 #sec04 .com-box .content {
    min-height: auto !important;
}
.fixed {
    margin-right: 0px;
    position: inherit;
}
#pd-rt {
    margin-left: 7px;
    padding-right: 0px;
    width: 100%;
}
.wp_post_email_notification {
    border-radius: 0;
}
.widget.widget_search{
    border-radius: 0;
}
.sidebar.widget-area .widget {
    margin-bottom: 0;
    margin-left: 6px;
    width: 96%;
}
.blog_header h1 a {
    font-size: 25px;
}
.blog_header h1 a {
    font-size: 25px;
}
.sec03-res-left {
    width: 99% !important;
}
.post-thumbnail {
    margin-left: 20px;
}
.bl-header h1 {
    font-size: 25px;
}
#pd-rt {
    padding-left:0px;
}

.why-width {
    width: 100% !important;
}


.bdp_blog_template.blog_template {
    margin-left: 8px;
}

.bl p {
    font-size: 16px;
    line-height: 20px;
}
.bl ul, .bl ol {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    padding-left: 0;
}
.bl .alignleft {
    margin-right: 0px;
    text-align: center;
}

.bl h4 {
    margin-top: 10px;
}
.bl td {
    font-size: 16px;
    line-height: 22px;
}
.single-post .entry-footer {
    margin-top: 10px !important;
}
.archive .entry-title a {
    font-size: 25px;
}
.bl ol{
    margin-left: 20px;
}
.page-id-15 .blog .entry-content {
    margin-left: 0 !important;
}
.archive .entry-header h2 {
    line-height: 20px;
}

.archive .entry-content .alignleft {
    margin-right: 0px;
}
.page-id-11 #inner-header {
    height: 101px;
    min-height: 101px;
}
.blog .entry-footer {
    margin-left: 25px;
}

    
    .hidden-phone{ display:none !important; visibility:hidden}
    .visible-phone{display:block !important; visibility: visible}

}