#netbeans folder
nbproject

#htaccess file
.htaccess

#config file
wp-config.php

#admin
wp-admin/*

#upload file
wp-content/uploads/*

#upgrade
wp-content/upgrade/*

#includes
wp-includes/*

#xmlrpc
xmlrpc.php