/* Font Faces */

/* Avenir */
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/* Futura */
@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/Futura-Std-Medium.eot');
	src: url('../fonts/Futura-Std-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Futura-Std-Medium.woff2') format('woff2'),
		url('../fonts/Futura-Std-Medium.woff') format('woff'),
		url('../fonts/Futura-Std-Medium.ttf') format('truetype'),
		url('../fonts/Futura-Std-Medium.otf') format('opentype'),
		url('../fonts/Futura-Std-Medium.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Futura Std Light';
    src: url('../fonts/FuturaStd-Light.eot');
	src: url('../fonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaStd-Light.woff2') format('woff2'),
		url('../fonts/FuturaStd-Light.woff') format('woff'),
		url('../fonts/FuturaStd-Light.ttf') format('truetype'),
		url('../fonts/FuturaStd-Light.otf') format('opentype'),
		url('../fonts/FuturaStd-Light.svg#FuturaStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Futura Std Condensed Light';
    src: url('../fonts/FuturaStd-CondensedLight.eot');
    src: url('../fonts/FuturaStd-CondensedLight.ttf');
	src: url('../fonts/FuturaStd-CondensedLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaStd-CondensedLight.woff2') format('woff2'),
		url('../fonts/FuturaStd-CondensedLight.woff') format('woff'),
		url('../fonts/FuturaStd-CondensedLight.ttf') format('truetype'),
		url('../fonts/FuturaStd-CondensedLight.otf') format('opentype'),
		url('../fonts/FuturaStd-CondensedLight.svg#FuturaStd-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0020-00FE;
}


@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri-Italic.eot');
	src: url('../fonts/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri-Italic.woff2') format('woff2'),
		url('../fonts/Calibri-Italic.woff') format('woff'),
		url('../fonts/Calibri-Italic.ttf') format('truetype'),
		url('../fonts/Calibri-Italic.svg#Calibri-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri-Bold.eot');
	src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri-Bold.woff2') format('woff2'),
		url('../fonts/Calibri-Bold.woff') format('woff'),
		url('../fonts/Calibri-Bold.ttf') format('truetype'),
		url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri-BoldItalic.eot');
	src: url('../fonts/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri-BoldItalic.woff2') format('woff2'),
		url('../fonts/Calibri-BoldItalic.woff') format('woff'),
		url('../fonts/Calibri-BoldItalic.ttf') format('truetype'),
		url('../fonts/Calibri-BoldItalic.svg#Calibri-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri-LightItalic.eot');
	src: url('../fonts/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri-LightItalic.woff2') format('woff2'),
		url('../fonts/Calibri-LightItalic.woff') format('woff'),
		url('../fonts/Calibri-LightItalic.ttf') format('truetype'),
		url('../fonts/Calibri-LightItalic.svg#Calibri-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri-Light.eot');
	src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri-Light.woff2') format('woff2'),
		url('../fonts/Calibri-Light.woff') format('woff'),
		url('../fonts/Calibri-Light.ttf') format('truetype'),
		url('../fonts/Calibri-Light.svg#Calibri-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Calibri.woff2') format('woff2'),
		url('../fonts/Calibri.woff') format('woff'),
		url('../fonts/Calibri.ttf') format('truetype'),
		url('../fonts/Calibri.svg#Calibri') format('svg');
	font-weight: normal;
	font-style: normal;
}