body {
	font-family: 'Nunito', sans-serif;;
}
header {  }
footer {  }
img { }
footer img { width: 100%; }

/* Header */
#header-tool {
	min-height: 80px;
}
	#linkio-logo { }
		/* Hamburger Menu */
		#linkio-logo .navbar-toggle { margin-top: 20px; border: 1px solid #ccc; }
		#linkio-logo .navbar-toggle .icon-bar { background: #ccc; }

	#header-tool-menu {  }
		#header-tool-menu a.menu-item,
		#header-tool-menu a.btn {
			display: inline-block;
			margin: 0 1%;
		}
			#header-tool-menu a.menu-item {
				color: #005689;
				text-transform: uppercase;
				font: normal 13px/80px 'Source Sans Pro', sans-serif;
			}
			#header-tool-menu a.menu-item.active,
			#header-tool-menu a.menu-item:hover {
				color: #eb7a26;
				text-decoration: none;
			}
			#header-tool-menu a.menu-item.login {
				font-weight: bold;
			}

			#header-tool-menu a.btn {
				margin-right: 0;
				padding: 0 20px;

				color: white;
				text-transform: capitalize;
				font: normal 15px/36px 'Source Sans Pro', sans-serif;
				
				border-radius: 4px;
				background: #1abc9c;
				transition: all 0.3s ease;
			}
				#header-tool-menu a.btn:hover {
					color: #fff;
					background-color: #3bddbd;
				}
				#header-tool-menu a.btn:focus {
					background-color: #3bddbd;
					color: #fff;
				}

/* Sub header */
#subheader-tool {
	min-height: 250px;
	
	background: #465c6c url(../images/header-background.png) top no-repeat;
}
	#subheader-tool h1 {
		margin: 60px 0 10px;
		color: white;
		text-align: center;
		font: normal 48px/50px 'Source Sans Pro', sans-serif;
	}
	#subheader-tool h2 {
		margin: 0 0 40px;

		color: white;
		text-align: center;
	    font: 300 23px/36px 'Futura Std Light';
	}
		
#gray-zone {
	padding: 50px 0;
	background: #f8f8f8;	
}

/* Top Titles */
.title h2 {
	margin: 68px 0 0;
    font-family: 'Calibri', sans-serif;
	
	text-align: center; color: #E6742A;
	font-weight: normal; font-size: 44px;  line-height: 30px;
}
.title h3 {
	margin: 18px 0 80px;
    font-family: 'Futura Std Light', sans-serif;
	
	text-align: center; color: #BDBDBD;
	font-size: 26px; line-height: 30px;
}

/* Form */
h3.form-title {
	margin: 0 0 30px;
	font-family: 'Calibri', sans-serif;
	
	text-align: center; text-transform: uppercase; letter-spacing: 1px;
	
	color: #000;
	font-size: 26px; font-weight: 700; line-height: 30px;	
}
	h3.form-title span {
		display: inline-block;
		margin: 0 30px;
		font-size: 16px;
	}
	#btn-import {
		/* margin-bottom: 15px; */
		vertical-align: text-bottom;
		padding: 6px 20px;

		color: #eee;
		border: 1px solid #005689; border-radius: 4px;
		background-color: #005689;
	}
	#files { display: none; }

	
/* Sidebar: How it works */
#sidebar-how-it-works {
	min-height: 690px;
	padding: 0 0 30px;
	
	text-align: center;
	border: 1px solid #e1e1e1; border-radius: 5px;
	background: #fff;
}
	#sidebar-how-it-works h3 {
		margin: 0;

		color: #005689;
		text-transform: uppercase; text-align: center;
		font: 600 16px/45px "Avenir", sans-serif;
		text-shadow: 0.3px 0 0 #005689;
	
		background: #f7f7f7;
	}
	#sidebar-how-it-works h4 {
		margin: 30px 0 0; padding: 0 50px;
	
		color: #929292;
		text-transform: uppercase; text-align: center;
		font: 600 14px/20px "Avenir", sans-serif;
		text-shadow: 0.1px 0 0 #929292;
	}
	#sidebar-how-it-works img {  }

	
/* Generate Form */
#form-generate {
    min-height: 690px;
    padding: 20px 30px 20px 70px;

	border: 1px solid #e1e1e1; border-radius: 5px;
	background: #fff;
}

	.form-control {
		color: black;
		font-size: 13px;
		
		border: 1px solid #005689; border-radius: 4px;		
	}

	/* Form titles */
	#form-generate h4 {
		margin: 10px 0 30px;
		
		color: #4d5d68;
		text-align: center; text-transform: uppercase;
		font: 600 22px/26px 'Avenir', sans-serif;
		text-shadow: 0.5px 0 0 #4d5d68;
	}
	#form-generate h5 {
		margin: 0 0 6px;
		
		color: #000;
		font-weight: 600; font-size: 15px; line-height: 24px;
	}
	
		.img-mini { width: 24px; height: 24px; margin-left: 4px; cursor: pointer; }
		/* By default: Loading image is hidden */
		i.fa-gear {
			display: none;
		}
	
		.btn-mini {
			display: inline-block;
			margin-left: 10px; padding: 2px 6px;
			font-size: 11px; line-height: 13px;
		}
		#form-generate h5:hover .btn-mini { }

	
		#form-generate h5::after {
			width: 26px; height: 26px;
			
			top: 0; left: -32px;
			position: absolute;
			content: '';

			border: 2px solid #ebebeb; border-radius: 50%;
			background-color: #fefefe;
		}
		
		#form-generate #wrapper-generate .col-md-12 {
			height: 45px;
		}
		
		/* Wrapping the generate button */
		#form-generate #wrapper-generate::after {
			display: block;
			width: 26px; height: 26px;
			
			top: -40px; left: -47px;
			position: relative;	content: '';

			border: 2px solid #ebebeb; border-radius: 50%;
			background-color: #fefefe;
		}
		#form-generate #wrapper-generate.active::after {
			border: 2px solid #005689;
			background-color: #dfeaf0;
			background: url(../images/dot.png) center no-repeat;
		}

	/* Vertical lines */
	.line { max-width: 1800px; position: relative; padding-bottom: 20px; }
		.line::after {
			width: 2px; position: absolute;
			top: 35px; left: -35px;	bottom: 10px;

			content: '';
			background-color: #ebebeb;
		}
		.line.active::after {
			background-color: #005689;
		}
		#form-generate .line.active h5::after {
			border: 2px solid #005689;
			background-color: #deeaef;
			background: url(../images/dot.png) center no-repeat;
		}
		.line.hidden-line::after {
			bottom: 10px;
			background-color: #fefefe;
		}
	
	/* Labels */
	label {
		margin: 5px 0;
		
		color: #999;
		font-size: 15px;
	}
		
	/* Fields */
	#destination-link {
		width: 100%; margin: 0 0 10px; padding: 0 10px;
		line-height: 34px;
	}

	#textarea-pagetitles {
		height: 80px;
	}
	
	#textarea-anchors {
		height: 160px;
	}
	
	#textarea-brand, #textarea-keywords {
		height: 160px;
		padding: 10px;
/*		
		color: #111;
		font-weight: 400; font-size: 12px;
		border: 1px solid #005689; */
	}
	#textarea-anchors {
	}
	#textarea-brand.placeholder, #textarea-keywords.placeholder { color: #909090; }
	
	#textarea-brand::-webkit-input-placeholder, #textarea-keywords::-webkit-input-placeholder {
		color: #909090;
	}
	#textarea-brand::-moz-placeholder, #textarea-keywords::-moz-placeholder { /* Firefox 18- */
		color: #909090;  
	}
	#textarea-brand::-moz-placeholder, #textarea-keywords::-moz-placeholder {  /* Firefox 19+ */
		color: #909090;  
	}
	#textarea-brand:-ms-input-placeholder, #textarea-keywords:-ms-input-placeholder {
		color: #909090;  
	}
	
	/* Pre-Generate & Generate buttons */
	#btn-pre-generate {
		display: block;
		width: 100%; max-width: 315px; height: 45px;
		margin: 0 auto; padding: 0 30px;

		color: white;
		text-transform: uppercase;
		font-weight: bold; font-size: 14px; line-height: 45px;
		letter-spacing: 0.5px;

		border: 1px solid #1abc9c; border-radius: 4px;
		background-color: #1abc9c;
	}
	
		#btn-generate {
			padding: 10px 90px;

			color: white;
			text-transform: uppercase;
			font-weight: bold; font-size: 14px; line-height: 35px;
			letter-spacing: 0.5px;

			border: none; border-radius: 4px;
			background-color: #1abc9c;
			
			transition: box-shadow 0.18s;
			-webkit-transition: box-shadow 0.18s; /* Safari */
		}
		#btn-generate.active { background-color: #1abc9c; }
		
	#gdpr-box {
		display: none; margin-bottom: 50px;
	}
	
	/* Unlock Form */
	#form-unlock {
		opacity: 0;
		display: none;
		margin: 10px 0;

		text-align: center;
	}
		#form-unlock img {
			width: 110px;
			height: 110px;
		}
		#form-unlock h5 {
			color: #005689;
		}
		/* Input: email */
		#email {
			display: inline-block;
			width: 100%; max-width: 400px; height: 45px;
			margin: 15px auto 15px; padding: 5px 12px;

			color: #005689;
			font-weight: 600; font-size: 14px; line-height: 45px;
			border: 1px solid #005689; border-radius: 4px;
		}
		#email::-webkit-input-placeholder {	color: #7faac4; }
		#email::-moz-placeholder { color: #7faac4; /* Firefox 18- */ }
		#email::-moz-placeholder { color: #7faac4; /* Firefox 19+ */ }
		#email:-ms-input-placeholder { color: #7faac4; }

		/* Button: unlock */
		#btn-unlock {
			display: block;
			width: 100%; max-width: 315px; height: 60px;
			margin: 0 auto; padding: 0 30px;

			color: #8f9295;
			text-transform: uppercase;
			font-size: 14px; font-weight: bold; line-height: 60px;
			letter-spacing: 0.5px;

			border: 1px solid #e3e6e9; border-radius: 4px;
			background-color: #eff2f5;
		}
			#btn-unlock.active {
				color: white;
			
				border: 1px solid #1abc9c; border-radius: 4px;
				background-color: #1abc9c;
				box-shadow: none;
			}
			#btn-unlock:focus {	outline: none; }
	
		#arrow-unlock {
			position: absolute;
			bottom: 80px; right: 45px;
		}
	
	#form-unlock p { margin: 20px 0 0; color: #4a87ab; font-size: 14px; }
	
	
/*		#btn-generate:hover {
			-webkit-box-shadow: 2px 4px 6px 0 #bbb;
			-moz-box-shadow:    2px 4px 6px 0 #bbb;
			box-shadow:         2px 4px 6px 0 #bbb;
		} */

		#btn-generate:focus { outline: none; }
/*	#btn-generate:link, #btn-generate:visited {
		background-color: #bdbdbd;	
	}
	#btn-generate:hover, #btn-generate:active {

		background-color: #e6742b;
	} */
	
	/* Generated Section */
	#generated {
		display: none;
		margin: 50px auto;
	}

		/* Generated Box */
		#generated-box {
			margin-bottom: 20px;
			padding: 0 20px 20px;

			border: 1px solid #e1e1e1; border-radius: 5px;
			background: #fff;
		}
		#generated-box h4 {
			margin: 20px 0;
			font-family: 'Calibri', sans-serif;
			
			text-align: left; color: #005689;
			font-weight: 600; font-size: 20px; line-height: 20px;
		}

		/* Buttons - top right */
		#generated-buttons {
			padding-top: 15px;
			text-align: right;
			font-size: 12px; font-weight: 600;
		}
		#generated-buttons .btn.btn-default:focus { outline: none; }
			#generated-buttons #btn-export {
				margin-right: 20px; margin-bottom: 15px; padding: 6px 20px;

				color: white;
				font-size: 16px;
				border: 1px solid #bdbdbd; border-radius: 4px;
				background-color: #bdbdbd;
			}
			#generated-buttons #btn-export.enabled {
				border: 1px solid #005689;
				background-color: #005689;
			}			
			#generated-buttons #btn-reset {
				margin-right: 20px; margin-bottom: 15px; padding: 6px 20px;

				color: white;
				font-size: 16px;
				border: 1px solid #d21f4c; border-radius: 4px;
				background-color: #d21f4c;
			}

			/* Results */
			.table-responsive { overflow-x: inherit; }
			
			#table-anchors { margin-bottom: 0; font-family: 'Futura Std'; }
			#table-anchors tr th { color: #808080; background: #d8d8d8; }
				/* Set width for Anchor Type */
				#table-anchors thead tr th:nth-child(2) { min-width: 200px; }
			
			#table-anchors tr, #table-anchors tr td {
				color: #888;
				border: 2px solid #e9e9e9;
			}
			/* Alternating rows */
			#table-anchors tr:nth-child(odd) {
				background-color: #f8f8f8;
			}
			/* First row */
			#table-anchors thead tr:first-child {
				background-color: #d8d8d8;
			}
			#table-anchors td.highlighted {
				outline: 1px solid #005689;
				background: white;
			}
			
			/* Rows */
			.teaser { display: table-row; }
			.full { display: none; }

				/* Center: ids & favorites */
				#table-anchors tr th:nth-child(4),
				#table-anchors tr td:nth-child(1), #table-anchors tr td:nth-child(4) {
					text-align: center;	
				}
				
				/* Favorites */
				#table-anchors .fa-heart { color: #d2d2d2; cursor: pointer; }
				#table-anchors tr.favorite .fa-heart { color: #d21f4c; }


				/* Not enough? Unlock +95 more. ... */
				#generated h5 {
					margin-top: 15px;
					
					color: #4d575c; text-align: center;
					font-weight: 600; font-size: 32px; line-height: 40px;
				}
				#generated h6 {
					margin-top: 0;
					
					text-align: center; color: #909090;	
					font-weight: 400; font-size: 14px; line-height: 18px;
				}

		/* Generated Sidebar */
		#generated-sidebar {
			margin-left: 20px; padding: 0 0 15px;
			border: 1px solid #d1d4d6; border-radius: 5px;
			background: #fff; 
		}
			#generated-sidebar h2 {
				margin: 0;
				font-family: 'Calibri', sans-serif;
				
				color: #005689;
				text-align: center; text-transform: uppercase;
				font: 600 16px/45px "Avenir", sans-serif;
				text-shadow: 0.3px 0 0 #005689;
			}
			#box-join-linkio { 
				padding: 20px; 
				text-align: center;
				background-color: #005689;
			}
				/* #box-join-linkio h2 {
					margin-top: 0;			
					text-align: left; text-transform: uppercase;
					font-size: 16px; font-weight: 700; line-height: 20px;
					color: #fff;			
				} */
				#box-join-linkio p {
					max-width: 140px;
					margin: 0 auto 20px;
					
					text-align: center;
					color: #fff; text-transform: uppercase;
					font-size: 14px; font-weight: 600; line-height: 20px;
				}
				a#btn-try-now {
					padding: 10px 33px;
					text-transform: uppercase; 			
					font-size: 14px; font-weight: 600;	
					
					border: none; border-radius: 4px;
					color: #fff; background-color: #1abc9c;
				}
				#btn-get-me-in:focus { outline: none;}
		
		/* Table */
		#generated-sidebar table { width: 100%;}
		#generated-sidebar table tr {  !important; padding: 20px; border-bottom: 1px solid #d6dadc; }
		#generated-sidebar table tr th { padding: 10px 0; font-size: 14px; font-weight: 600; color: #fff; background-color: #adc0d0; }
		#generated-sidebar table tr th:first-child { padding-left: 25px; }
		#generated-sidebar table tr th:last-child { padding-right: 25px; text-align: right; }
		
		#generated-sidebar tbody { }
			#generated-sidebar table tr td { padding: 10px 25px; font-size: 14px; font-weight: 600; color: #333; }
			#generated-sidebar table tr td:last-child { text-align: right; }
			#generated-sidebar table tr.pink { background-color: pink }
		

/* Bottom */
#try-free {
	padding: 30px 0;
	text-align: center;
	background-color: #005689;
}
	#try-free .container { max-width: 800px; }
	#try-free h2 {
		color: white;
		text-transform: capitalize;
		/* font: 600 40px 'Open Sans'; */
		font: 600 36px 'Avenir';
	}
	#try-free h4 {
		max-width: 600px; margin: 10px auto 30px;

		color: white;
		text-align: center;
		font: 300 24px/30px 'Source Sans Pro';
	}
	#try-free a {
		padding: 12px 50px;
		
		text-transform: uppercase;
		font-size: 14px; font-weight: 600; font-family: 'Source Sans Pro';
		
		color: white;
		border: 1px solid #2bafb1; border-radius: 4px;	
		background-color: #1bbc9b;
	}

#about-tool {
	padding: 20px 0 30px;
	text-align: center;
	background-color: #f5f5f5;
}
	#about-tool .container { max-width: 900px; }
	#about-tool h2 {
		color: #0f5d8d;
		font: 600 36px 'Avenir';
	}
	#about-tool h4 {
		max-width: 730px;
		margin: 10px auto 20px;

		color: #999;
		text-align: center;
		font: 400 16px/20px 'Source Sans Pro';
	}
	#about-tool h5:nth-child(2) {
		text-indent: 20px;
		margin-bottom: 20px;
	}

/* Footer */
.footer-anchor .wpcf7-list-item-label {
    display: none !important;
}
.footer-anchor .terms-con-line {
    margin-left: 20px !important;
    font-size: 12px !important;
    color: #fff !important;
	position: absolute !important;
	bottom: -2px !important;
}
.footer-anchor input[type="checkbox"] {
    margin-top: 5px !important;
}
.footer-anchor .terms-con-line a {
    color: #007acc !important;
    font-size: 12px !important;
}
#footer-top a {
    display: inline-block !important;
}
.footer-anchor {
    padding: 0;
}
footer { padding-top: 40px; background-color: #203442; }
	#footer-top { }
		#footer-top img {
			max-width: 170px;
		}

		#footer-top h3 {
			margin: 0 0 18px;

			color: #A5A8BB;
			text-transform: uppercase;
			font: 600 14px 'Avenir', sans-serif;
		}
		#footer-top a {
			display: block;
			color: #7F829A;
			font: 400 16px/30px 'Source Sans Pro', sans-serif;;
		}
			#footer-top a:hover { text-decoration: none }
		
		#footer-top a#footer-facebook {
			display: inline-block;
			width: 50px; height: 50px;
			margin-right: 5px;
	
			background-size: 100%;
			background-repeat: no-repeat;
		    background-image: url(../images/icon-facebook.jpg)
		}
		#footer-top a#footer-twitter {
			display: inline-block;
			width: 50px; height: 50px;
			margin-right: 5px;
	
			background-size: 100%;
			background-repeat: no-repeat;
		    background-image: url(../images/icon-twitter.jpg)
		}
		#footer-top a#footer-youtube {
			display: inline-block;
			width: 50px; height: 50px;
			margin-right: 10px;
    
			background-size: 100%;
			background-repeat: no-repeat;
		    background-image: url(../images/icon-youtube.jpg)
		}
		
	#signup-email {
		height: 48px;
		padding: 15px;

		color: #686868;
		font: 100 16px 'Nunito', sans-serif;
		
		border: 1px solid #d1d1d1; border-radius: 4px !important;
		
		box-shadow: 0 2px 1px 0 #0000; background: #fff;
	}
	
	#footer-bottom {
		height: 80px; margin-top: 60px;
		
		color: #898ea2;
		font: 400 14px/80px "Helvetica Neue", Helvetica, Arial, sans-serif;
		border-top: 1px solid #364855;
	}
		#footer-bottom p { margin: 0; font-size: 14px !important;}

		
/* Contact Form 7 - Styles */
.wpcf7-form {
	position: relative;
	
    color: #4f4f4f;
    font-size: 20px;
	font-family: 'Calibri';
    -webkit-font-smoothing: antialiased;
}
	.wpcf7-form p {
		margin: 0px !important;
		font-size: 18px;
	}
	.wpcf7-form .wpcf7-text {
		width: 100%;
		height: 48px;
		padding: 15px;

		color: #686868;
		font-weight: 300;
		font-size: 14px;
		font-family: 'Avenir', sans-serif;

		border: 0;
		border-radius: 4px;
		box-shadow: 0 2px 1px 0 #0000;
		
		background-color: white;
		background-image: none;
	}
	.wpcf7-form input.wpcf7-submit {
		height: 48px;
		position: absolute; top: 0; right: 0;
		
		color: transparent;
		
		border: 0;
		border-radius: 4px;
		box-shadow: 0 2px 1px 0 #0000;

		background-color: transparent;
		background-image: url(https://www.linkio.com/wp-content/uploads/2017/11/button-input.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 0 -5px;
	}
	.screen-reader-response { display: none; }
	.wpcf7-form .wpcf7-response-output { 
		color: #A5A8BB;
		font: 400 14px/20px 'Avenir', sans-serif;
	}
	span.wpcf7-not-valid-tip {
		color: #A5A8BB;
		font: 600 15px/20px 'Avenir', sans-serif;
	}

/* Media Queries - Fluid */
@media (min-width:992px) { /* Desktop */	
	/* Always show the header menu */
	#header-tool-menu { display: block !important; }
	
	/* Add a little offset to the sidebar */
	#sidebar-how-it-works {
		margin-left: 20px;
	}
}
@media (max-width:992px) { /* Mobile & Tablet */	
	/* Main Menu */
	#header-tool-menu { display: none; margin-left: 20px; margin-bottom: 20px; }
	#header-tool-menu a.menu-item,
	#header-tool-menu a.menu-item.login {
		display: block;
		line-height: 30px;
	}
	#header-tool-menu a.btn {
		margin-top: 10px;
	}
	
	#generated-sidebar { margin-left: 0; }
}

/* Media Queries - Fixed */
@media (min-width:992px) and (max-width:1200px) {
	/* Main Menu */
	#header-tool-menu a.menu-item,
	#header-tool-menu a.btn {
		margin: 0 1%;
	}

	.checkbox-inline {
		margin-bottom: 20px;		
	}
	.checkbox-inline+.checkbox-inline {
		margin-left: 0;
	}
}

@media (min-width: 481px) and (max-width: 991px) {
	/*	#header-tool-menu a.menu-item,
		#header-tool-menu a.btn {
			margin: 0 1%;
		} */

	#header-keyword-tool * { text-align: center; }
	.checkbox-inline {
		margin-left: 0;
		margin-bottom: 20px;		
	}
	.checkbox-inline+.checkbox-inline {
		margin-left: 0;
	}
	.view-generated-buttons {
		text-align: left;
	}	
}

@media (max-width: 600px) {
	#footer-top .col-xs-12 {
		margin-bottom: 30px;
	}
	
	.line::after {
		left: -20px;
	}
	#form-generate {
		padding-left: 40px;
		padding-right: 40px;
	}
		#form-generate h5::after {
			left: -16px;
		}
		#form-generate #wrapper-generate::after {
			left: -32px;
		}

	.view-generated-buttons {
		text-align: left;
	}
	.view-generated-buttons .btn.btn-default:nth-child(1), .view-generated-buttons .btn.btn-default:nth-child(2) {
		display: block;
	}
}

@media (max-width: 480px) {
	#header-keyword-tool * { text-align: center; }
	
	.checkbox-inline {
		margin-left: 0;
		margin-bottom: 20px;		
	}
	.checkbox-inline+.checkbox-inline {
		margin-left: 0;
	}
	#generated {
		padding: 15px;
	}
	#btn-generate {
		padding: 0 40px;
	}
}