* {	font-family: 'Nunito', sans-serif; }

/* Center the loader */
#loader {
	display: none;
	width: 60px; height: 60px;
	position: relative; left: 50%; top: 50%;
	
	margin: -30px 0 0 -30px;

	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #3498db;
	
	z-index: 10000;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Header */
#header-tool {
	min-height: 80px;
}
	#linkio-logo { }
		#linkio-logo .navbar-toggle { margin-top: 20px; border: 1px solid #ccc; }
		#linkio-logo .navbar-toggle .icon-bar { background: #ccc; }

	#header-tool-menu {  }
		#header-tool-menu a.menu-item,
		#header-tool-menu a.btn {
			display: inline-block;
			margin: 0 1%;
		}
			#header-tool-menu a.menu-item {
				color: #005689;
				text-transform: uppercase;
				font: normal 13px/80px 'Source Sans Pro', sans-serif;
			}
			#header-tool-menu a.menu-item.active,
			#header-tool-menu a.menu-item:hover {
				color: #eb7a26;
				text-decoration: none;
			}
			#header-tool-menu a.menu-item.login {
				font-weight: bold;
			}
			
			#header-tool-menu a.btn {
				margin-right: 0;
				padding: 0 20px;

				color: white;
				text-transform: capitalize;
				font: normal 15px/36px 'Source Sans Pro', sans-serif;
				
				border-radius: 4px;
				background: #1abc9c;
				transition: all 0.3s ease;
			}
				#header-tool-menu a.btn:hover {
					color: #fff;
					background-color: #3bddbd;
				}
				#header-tool-menu a.btn:focus {
					background-color: #3bddbd;
					color: #fff;
				}

/* Seo Tools Header */
.seo-tools-header {
	background-image: url('../images/linkio-seo-header-bg.jpg'); background-position: bottom center; 
	background-repeat: no-repeat; background-size: cover;
}
	#seo-titles {
		width: fit-content;
		padding-top: 50px;
		padding-bottom: 60px;
		display: inline-block;
	}
		#seo-titles h1 {
			margin: 0;
			color: #084376;

			font: 200 50px/56px 'Nunito';
		}
			#seo-titles strong {
				font-weight: 700;
				font-family: 'Nunito';
			}
			#seo-titles span#green-title {
				font-weight: 700;
				color: #1abc9c;
				font-family: 'Nunito';
			}
			
			#seo-image-robot {
				width: 176px; height: 176px;
				margin-top: 50px; margin-right: 30px;
				display: inline-block; float: right;
			}
			#seo-image-robot img {
				width: 100%;
				height: auto;
			}

			
/* Seo Tools Header - New */
#seo-tools-header-new {
	height: 340px;
	
	background-image: url('../images/header-new.jpg');
	background-position: bottom center; 
	background-repeat: no-repeat;
}
	h1#seo-titles-new {
		display: inline-block;
		width: fit-content;
		
		margin-left: 100px;
		padding: 80px 0 0;
	}
		h1#seo-titles-new strong {
			display: block;
		
			text-transform: uppercase;
			color: white;
			font: normal 45px/50px 'FuturaBT-Book';
		}
		
		h1#seo-titles-new #gray-title {
			color: #b8beca;
			font: normal 45px/60px 'FuturaBT-Light';
		}
		
		h1#seo-titles-new #blue-title {
			color: #24c2af;
			font: normal 24px/30px 'FuturaBT-Book';
		}
	

/* Seo Tools Description */
.seo-tools-description {
	padding-top: 30px; padding-bottom: 20px;
}
.seo-tools-description p {
	font: 300 16px/20px 'GothamSSm-Book', sans-serif;
	color: #084376;
}
.seo-tools-description span#green-description {
	font-weight: bold;
	color: #1abc9c;	
}

.seo-tools { min-height: 740px; }

/* Seo Tools Sidebar & Search */
#seo-tools-sidebar { /* position: absolute; min-height: 700px; padding: 20px 0; */ }
	.seo-tools-search {
		margin-bottom: 30px;
		color: #084376; 
		border: 1px solid #e1e1e1;  border-radius: 4px;
	}
		.seo-tools-search .box-title {
			margin: 0; padding: 10px 14px;

			background-color: #f7f7f7;
		}
		.seo-tools-search .box-title h5 { display: inline-block; margin: 0; font-size: 16px; font-weight: bold; line-height: 26px; }
		.seo-tools-search .box-title img#clear-filters { display: none; float: right; cursor: pointer; }

#search-form {
	padding: 15px;	
}
label.input-labels {
    display: block;
	font-size: 16px; font-weight: 500; line-height: 26px;
    margin-bottom: 5px;
}
#search-form input[type=text] {
	width: 100%; padding: 5px 10px;
	font-size: 16px; font-weight: 300;
	border: 1px solid #3e77a8; border-radius: 4px;
}
#search-form input::placeholder {
	color: #999;	
}
.checkbox {
	margin-bottom: 10px;
} 
.checkbox span {
	margin-left: 10px;
}
.checkbox input[type=checkbox] {
	visibility: hidden;
	margin-left: 0; margin-top: 0;
	position: relative;
}
.checkbox label {
	margin-bottom: 5px;
	padding: 0;
}
.checkbox label:before{
	content: ' '; 
	position: absolute; top: 0; left: 0;
	width: 20px; height: 20px;
	color: #fff; background: #fff;
	border: 1px solid #5a676f;
}
.checkbox label:after {
	content: '\f00c';
	font-family: 'FontAwesome';
	width: 20px; height: 21px;
	padding-left: 2px;
	position: absolute; top: 0; left: 0; bottom: 0; right: 0;
	color: transparent; background: #fff;
	border: 1px solid #5a676f;
}
input[type="checkbox"]:checked + label:after {
	color: #fff; background: #000076;
}

#price button {
	display: block;
	font-size: 16px; font-weight: 300;
	color: #084376; background-color: #fff;
	border: 1px solid #3e77a8;
}
	#price button:focus {
		outline: none;
	}
	#price button.active {
		color: #fff; background: #000076; 
		border: 1px solid #000076;
	}


button#Free, button#Paid { margin-top: 10px; padding: 5px 35px; }
button#Freemium { margin: 10px 0; padding: 5px 25px; }

select.form-control {
	padding-left: 7px;
	color: #084376;
	font-size: 16px; font-weight: 300;
	
	border: 1px solid #3e77a8;
}
#search-form hr {
	margin: 30px -15px 15px;
	border-top: 1px solid #e1e1e1;
}
#add-btn {
	text-align: center;
}
button#add-new {
	margin: 0 auto;
	padding: 5px 30px;
	font-size: 16px; font-weight: 300;
	color: #fff; background: #1abc9c;
	border: 1px solid #1abc9c;
	
	-webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; transition: 0.5s;
}
button#add-new:link, button#add-new:visited {
	color: #fff; background: #1abc9c;
	border: 1px solid #1abc9c;
}
button#add-new:hover, button#add-new:focus, button#add-new:active {
	color: #1abc9c; background: #fff;
	border: 1px solid #1abc9c;
}
button#add-new i {
	margin-right: 10px;
	color: #1abc9c;
}
button#add-new i:before {
	color: #fff;
	
	-webkit-transition: 0.7s; -moz-transition: 0.7s; -ms-transition: 0.7s; transition: 0.7s;
}
button#add-new:hover i, button#add-new:focus i, button#add-new:active i {
	color: #fff;
}
button#add-new:hover i:before, button#add-new:focus i:before , button#add-new:active i:before  {
	color: #1abc9c;
}


/* Seo Tools Results */
#seo-tools-results-wrapper {
	position: relative;
}
#seo-tools-results {
	margin-bottom: 50px;
	margin-right: 15px;
	color: #084376;
}
#seo-tools-results a {
	text-decoration: none;
	color: #084376;
}
#seo-tools-results h2 {
	margin-top: 0;
	display: inline-block;
	font-size: 36px; font-weight: 400; line-height: 36px;
}
#seo-tools-results h2 a {
	cursor: pointer;
}
#seo-tools-results h2 a i {
    margin-right: 5px; padding-bottom: 5px;
    font-size: 24px;
    vertical-align: middle;
}
#seo-tools-results h3 {
	font-size: 22px; font-weight: 400; line-height: 42px;
	font-family: 'GothamSSm-Medium';
}
#seo-tools-results h3 span {
	font-family: 'GothamSSm-Medium';
}
#seo-tools-results h5 {
	margin-bottom: 10px;
	margin-right: 40px;
	display: inline-block;
	font-size: 18px; font-weight: 400; line-height: 18px;
}
#seo-tools-results h5 i {
	margin-right: 10px;	
}
#seo-tools-results h6 {
	margin: 0 40px 30px 0;
	display: inline-block;
	font-size: 18px; font-weight: 400; line-height: 18px;
	color: #197dff;
}
#seo-tools-results h6 a {
	color: #197dff;	
}
#seo-tools-results h6 i {
	margin-left: 10px;
	color: #1464cc;
}
#seo-tools-results p {
	font-size: 16px; font-weight: 300; line-height: 24px;
}

	/* Vote */

	.voting {
		margin-right: 50px; padding: 0 10px;
		display: inline-block;
		float: right;
		text-align: center;
		color: #c5c7ca;

	}
	.voting a {
		display: block; width: 37px; padding: 3px 0 7px;
		text-decoration: none;
		background-color: #ebeef4;
		border-radius: 5px;
		
		-webkit-transition: .7s; -moz-transition: .7s; -ms-transition: .7s; transition: .7s;
	}
	.voting a:hover  {
		background-color: #2c58b0;		
	}
	.voting a:hover i, .voting a:hover .num-vote {
		color: #fff;
	}
	.voting a i {
		font-size: 20px; line-height: 20px;
		color: #9ba2ad;
	}	
	.num-vote {
		display: block;
		font-size: 16px; line-height: 18px;
		color: #4b5664;
	}


	/* Collapsed - Expanded Tools */
	.seo-tool {
		padding: 20px;
		background-color: #fff;
	}	
		.seo-tool.expanded {	
			min-height: 1500px;
			background-color: #fafbfc; 	
		}

		.seo-tool .meta, .seo-tool .quick-links, .seo-tool .detailed-desc,
		.seo-tool h3,
		.seo-tool .tool-images,
		.seo-tool .tool-videos {
			display: none;
		}

	
		/* Seo Tools Sliders */
		.carousel {
			min-height: 200px;
			margin-top: 10px; padding: 0;
			
			background: url('../images/loading-blocks.gif') center no-repeat;
		}
		.carousel-inner .item {
			text-align: center;
		}
		.carousel-inner .item img {
			width: 90%; height: auto;
			margin: 0 auto;
			
			border: 1px solid #80bdff;
		}
		.carousel-control{
			width: 7%;
			margin-left: -20px;
			margin-right: -20px;

		}
		.carousel-control.left, .carousel-control.right {
			background-image: none;
			color: #000;
		}
		.carousel-inner .item iframe {
			max-width: 720px;
			/*max-height: 405 px;*/
			width: 90%;
		}
		.carousel-caption {
		    width: 100%; padding: 10px;
			bottom: 0; left: 0;

			color: #fff;
			font: 300 18px 'GothamSSm-Light';

			background: rgba(32, 84, 129, 0.8);
		}

/* Comments Block */
.comments { display: none; }

	.disqus_thread {
		margin: 0 auto;
		padding: 0 30px;
	}
		
		
/* Modal: Add new tool */
.modal-dialog {
	width: 100%;
	margin-top: -20px;
} 
.modal-content {
	opacity: 0.9;
	background-color: #141414;
	border: none;
	border-radius: 0;
}
.modal-title {
	margin: 0; padding: 30px 20px 0;
	background-color: #fff;
}
.modal-title h3, .modal-title h4, .modal-title p { text-align: center; }
.modal-title p { margin-bottom: 0; }

#modal-add-new-tool .columns { background: white; }

form {
	/*
	padding: 20px;
	background-color: #fff;
	*/
}
	.row-link { margin-bottom: 10px; }
	.row-link input {
		padding: 5px 10px;
		color: #111;
		border-radius: 3px; border: 1px solid #ccc;
	}

	#modal-price { margin-left: 20px; }
	.modal #add-btn {
		margin: 20px 0;
	}
	
/* Footer */
.footer-anchor .wpcf7-list-item-label {
    display: none !important;
}
.footer-anchor .terms-con-line {
    margin-left: 20px !important;
    font-size: 11px !important;
    color: #fff !important;
	position: absolute !important;
	bottom: 5px !important;
}
.footer-anchor input[type="checkbox"] {
    margin-top: 5px !important;
}
.footer-anchor .terms-con-line a {
    color: #007acc !important;
    font-size: 12px !important;
}
#footer-top a {
    display: inline-block !important;
}
.footer-anchor {
    padding: 0;
}
footer { padding-top: 40px; background-color: #203442; }
	#footer-top { }
		#footer-top img {
			max-width: 170px;
		}

		#footer-top h3 {
			margin: 0 0 18px;

			color: #A5A8BB;
			text-transform: uppercase;
			font: 600 14px 'Avenir', sans-serif;
		}
		#footer-top a {
			display: block;
			color: #7F829A;
			/*font: 400 16px/30px 'Source Sans Pro', sans-serif;;*/
		}
			#footer-top a:hover { text-decoration: none }
		
		#footer-top a#footer-facebook {
			display: inline-block;
			width: 50px; height: 50px;
			margin-right: 5px;
	
			background-size: 100%;
			background-repeat: no-repeat;
		    background-image: url(/wp-content/themes/outreachmama/seo-tools/images/icon-facebook.jpg)
		}
		#footer-top a#footer-twitter {
			display: inline-block;
			width: 50px; height: 50px;
			margin-right: 5px;
	
			background-size: 100%;
			background-repeat: no-repeat;
		    background-image: url(/wp-content/themes/outreachmama/seo-tools/images/icon-twitter.jpg)
		}
		#footer-top a#footer-youtube {
			display: inline-block;
			width: 50px; height: 50px;
			margin-right: 10px;
    
			background-size: 100%;
			background-repeat: no-repeat;
		    background-image: url(/wp-content/themes/outreachmama/seo-tools/images/icon-youtube.jpg)
		}
		
	#signup-email {
		height: 48px;
		padding: 15px;

		color: #686868;
		font: 100 16px 'Nunito', sans-serif;
		
		border: 1px solid #d1d1d1; border-radius: 4px !important;
		
		box-shadow: 0 2px 1px 0 #0000; background: #fff;
	}
	
	#footer-bottom {
		height: 80px; margin-top: 60px;
		
		color: #898ea2;
		font: 400 14px/80px "Helvetica Neue", Helvetica, Arial, sans-serif;
		border-top: 1px solid #364855;
	}
		#footer-bottom p { margin: 0; font-size: 14px !important;}
	

		
/* Contact Form 7 - Styles */
.wpcf7-form {
	position: relative;
	
    color: #4f4f4f;
    font-size: 20px;
	font-family: 'Calibri';
    -webkit-font-smoothing: antialiased;
}
	.wpcf7-form p {
		margin: 0px !important;
		font-size: 18px;
	}
	.wpcf7-form .wpcf7-text {
		width: 100%;
		height: 48px;
		padding: 15px;

		color: #686868;
		font-weight: 300;
		font-size: 14px;
		font-family: 'Avenir', sans-serif;

		border: 0;
		border-radius: 4px;
		box-shadow: 0 2px 1px 0 #0000;
		
		background-color: white;
		background-image: none;
	}
	.wpcf7-form input.wpcf7-submit {
		height: 48px;
		position: absolute; top: 0; right: 0;
		
		color: transparent;
		
		border: 0;
		border-radius: 4px;
		box-shadow: 0 2px 1px 0 #0000;

		background-color: transparent;
		background-image: url(https://www.linkio.com/wp-content/uploads/2017/11/button-input.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 0;
	}
	.screen-reader-response { display: none; }
	.wpcf7-form .wpcf7-response-output { 
		color: #A5A8BB;
		font: 400 14px/20px 'Avenir', sans-serif;
	}
	span.wpcf7-not-valid-tip {
		color: #A5A8BB;
		font: 600 15px/20px 'Avenir', sans-serif;
	}
	
@media (max-width: 1200px) {	
	h1#seo-titles-new { margin-left: 0;	}
}	
@media (max-width: 767px) {
	h1#seo-titles-new {	padding: 20px 0 0; }
}


#tooltip-results {
	display: none; width: 200px;
    padding: 10px;
    position: fixed; top: 50%; left: 50%;
	transform: translate(-50%, 0);

	color: #fff; text-align: center;
	border-radius: 3px;
	background-color: #5C6785; z-index: 1000;
}

#go-to-top {
	display: none; width: 50px; height: 50px;
	position: fixed; bottom: 100px; right: 25px;

	text-align: center; line-height: 50px;

	cursor: pointer; opacity: 1;
	border: 1px solid #0a94e3; border-radius: 50%;
}
	#go-to-top i { font-size: 24px; color: #0a94e3; }
	
	#go-to-top:hover i { color: white; }
	#go-to-top:hover {
		-moz-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		
		background: #0a94e3;
	}
	
	



/*=================start loader================*/
.seo-tool-ajax-loding{
    display: none;
}
.seo-tool-ajax-loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #618ba8;
    border-bottom: 7px solid #618ba8;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    float: right;
    margin-right: 50%;
    margin-bottom: 2%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*=================end loader================*/	

